:root {
    --primary: #151642;
    --secondary: #dff448;
--white: #ffffff;
--black: #000;
}



/* CSS RESET */
/* dtart means select all items */


*{
    box-sizing: inhert;
    margin: 0;
    padding: 0;
    }


    html{
        box-sizing: border-box;
        font-size: 16px;
    }

/* 1 rem=16px each rem is 16px */
    body{
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif
    }

    .container{
        max-width: 110rem;
        width: 100%;
        padding: 0 5rem;
    }


/* FIxme: Nav */
.nav{
    /* border: 3px solid navy; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    margin-bottom: 2rem;
    padding: 0rem 3rem;
}


.nav__logo {
    display: flex;
    align-items: center;
    
}
.nav__logo-icon{
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #151642 50%, #dff448 50%
    );
    border-radius: 50%;
}

.nav__logo-text{
font-weight: bold;
font-size: 1.7rem;
margin-left: 1rem;


}

.nav__links{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* get rid of bullets */
    list-style: none;
        }
    
    .nav__links a {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        font-size: 1rem;


    
    }

.nav__btn a{
    color: var(--white);
    background: var(--primary);
    padding: 1rem 2rem; 
    border-radius: 10px;
    text-transform: lowercase;

}


.hero{
    background: linear-gradient(90deg, var(--secondary) 70%, var(--primary) 70%);

    padding: 8rem 5rem;
    border-radius: 25px;
    margin: 3vw;

}