:root {

    --ff: sans-serif;
    --primary: #011627;
    --secondary: #f42272;
    --light: rgba (1, 22, 39, 0.55);
    --white: #fff;
    --body: #e9e9e9;
    }


    * { margin: 0;
    padding: 0;
box-sizing: 0;
}

html{
    font-size: 16px;
    }

    body{
        font-style: 1rem;
        font-family: var(--ff);
        line-height: 1.4;
    }

    .wrapper {
        min-width: 1500px;
        width: 100%;
        margin: 50px;
        background-color: var(--body);
    }

    .card{
        min-width: 30%;
        min-width: 300px;
        background-color: var(--white);
        border-radius: 25px;
        overflow: hidden;
    }

    .card__img{
        width: 100%;
        display: block;
    }
.card-content{
    width: 100%;
    padding: 0.5rem 1.5rem;
}

.card__category{

display: inline-block;
margin: 1.5rem 0 0.7;
background: var(--secondary);
color: var(--white);
padding: 5px 10px;
border-radius: 60px;
text-decoration: none;
font-size: 0.07rem;
}

.card__meta {

color: var(--light);
font-size: 0.08rem;
margin-bottom: 1.5rem;
}

.card__heading{
    margin-bottom: 1.1rem;
    font-size: 1.4rem;
    color: var(--primary);
    text-transform: capitalize;
}
    
    .card__excerpt {
        margin-bottom: 2rem;
        font-size: 0.9rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
    }

    